/* GLOBAL VARIABLES */

body{
	background: url('../img/back.jpg') center/cover;
	overflow: hidden;
	font-family: 'Merriweather', serif;
}

::-webkit-scrollbar { 
    display: none; 
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}

p{
	margin-top: 10px;
}

span > img{
	margin: 20px 0 0 10px;
	width: 60px;
	height: 60px;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	margin: 0;
}

li{
	list-style: none;
	display: inline;
	margin-left: 230px;
	margin-top: inherit;

}

.fa{
	font-size: 2em;
}

.kaki{
	color: #98AE3B;
}

.mdl-cell{
	margin: 0 auto;
	display: none;
}

/* TRANSPARENT LAYOUT */

.mdl-layout-title{
	font-family: 'Oswald', sans-serif;
}

/* LEFT LAYOUT */

.demo-layout-transparent
.mdl-layout__header,
.demo-layout-transparent
.mdl-layout__drawer-button {
	color: white;
}

.mdl-layout__content{
	height: 100%;
}

.mdl-layout-title{
	padding-left: 28px !important;
}

/* GENERALS CARDS */

.mdl-card{ 
	opacity: 0;
	width: 100%;
  	margin-top: 130px;
	background: rgba(250, 250, 250, 0.93);
}

/* CARDS TITLE */

.mdl-card__title{
	color: #fff;
	height: 400px;
	background: url('../img/card1.jpg') center / cover;  
}

.site-card > .mdl-card__title{
  background: url('../img/card2.jpg') center / cover;  
}

.mobile-card > .mdl-card__title{
  background: url('../img/mobile.jpg') center / cover;  
}

.contact-card > .mdl-card__title{
	color: inherit;
	height: inherit;
	background: inherit;
	margin: 0 auto;
}


/* CARDS ACTION */

.mdl-card__actions{
	text-align: right;
}

/* CONTACT CARDS LI */

.list-text li:first-child{
	margin-left: 210px;
}

.list-text li{
	margin-left: 185px;

}

.list-text li:last-child{
	margin-left: 115px;
}