body{
	background: url('../img/back.png') no-repeat center center fixed;
	background-size: cover;
}

p{
	/*padding: 5%;*/
}

.mdl-cell{
	/*padding: 10% 10%;*/
	margin: 0 auto;
	margin-top: 15%;
	background: #F3F3F3;
	max-height: 25px;
}