body{
	height: 100%;
	background: url('../img/back.png') no-repeat center center fixed;
	background-size: cover;
}

.content-grid{
	height: 100%;
	padding: 0;
}

.mdl-cell{
	background: #F8F8F8;
}

.mdl-cell--1-col{
	height: 100%;
	margin: 0;
	width: 5%;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%; 
	text-align: center;
}

li{
	width: 100%;
	margin: 0;
	padding: 0;
}

.fa{
	font-size: 2em !important;
}

.blank{
	background: inherit;
}

.mdl-cell--7-col{
	margin-top: 18%;
	height: 50%;
}

h2{
	margin: 1% 0 1% 2%;
}

p{
	margin: 1% 1% 1% 2.5%;
}

div > img{
	float: right;
	opacity: 0.8;
	margin: 2% 1% 2% 3%;
}
